[build]
  base = "client"
  command = "npm install && npm run build"
  publish = "client/dist"

[build.environment]
  NODE_VERSION = "18"

[[plugins]]
  package = "@netlify/plugin-lighthouse"

[[headers]]
  for = "/assets/*"
    [headers.values]
      Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*"
    [headers.values]
      Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
      X-Frame-Options = "DENY"
      X-Content-Type-Options = "nosniff"
      Referrer-Policy = "strict-origin-when-cross-origin"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200


